<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="form-group">
            <h2>Login Form</h2>
            <label for="email">Email address: </label>
            <input type="email" class="form-control" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label>Password: </label>
            <input type="password" class="form-control" placeholder="Enter Password">
          </div>
          <button type="button" class="btn btn-info" routerLink="/dashboard" (click)="login($event)">Submit </button>
          <hr>
          <label>Don't have an account?</label> <br>
          <button type="button" class="btn btn-success" routerLink="/register" >Register</button>
        </form>
    </div>
  </div>
</div>

