<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-3">
        <form>
          <div class="form-group">
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
            <b>First Name</b>
            <input type="email" class="form-control" placeholder="First Name" required>
          </div>
          <div class="form-group">
            <b>Last Name</b>
            <input type="text" class="form-control" placeholder="Last Name" required>
          </div>
          <div class="form-group">
            <b>Email</b>
            <input type="text" class="form-control" placeholder="Enter Email" required>
          </div>
          <div class="form-group">
            <b>Password</b>
            <input type="password" class="form-control" placeholder="Enter Password" required>
          </div>
          <div class="form-group">
            <b>Repeat Password</b>
            <input type="password" class="form-control" placeholder="Repeat Password" required>
          </div>
            <button type="button" class="btn btn-success btn-block" routerLink="/login">Register</button>
          <hr>
          <div class="container">
            <p>Already have an account? <a routerLink="/">Sign in</a>.</p>
          </div>
        </form>
      </div>
    </div>
</div>
